
   <% @lineitems.each do |product| %>
<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= product.description %>
  </td>
   <td>
    <%= product.quantity%>
  </td>
  <% end  %>

</tr>